@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.25s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.25s ease-out;
  }
}
